pre {
    padding: 0;
    border-color: #3D5166;
    background-color: #1D2B3A;
    border-radius: 4px;
    margin: 15px;

    @media (max-width: 960px) {
        font-size: 12px;
    }

    code {
        border: none;
        background-color: #1D2B3A;
    }
}

code {
    display: inline-block;
    padding: 1rem;
    margin-left: 0;
    border-radius: 3px;
    color: #fff;
    border: 2px lighten($color-primary, 10%) solid;
    background-color: darken($color-primary, 10%);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    font-size: 85%;
}