body {
    background-color: $color-grey-dark;
    font-size: 16px;
    line-height: 21px;
}

main {
    margin-top: 90px;
}

section {
    margin-bottom: 50px;
    background-color: #fff;
    color: $color-grey-dark;
}
