body {
    background-color: $color-grey-dark;
    font-size: 16px;
    line-height: 21px;
}

main {
    margin-top: 90px;

    section {
        min-height: 100vh !important;
        margin-bottom: 50px;
        background-color: #fff;
        color: $color-grey-dark;
    }
}