header.navbar {
    opacity: 1;
    background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.9);

    .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 75px;

        img {
            height: 35px;
            image-rendering: -webkit-optimize-contrast;
        }
    }

    .navbar-text {
        color: #fff;
        font-weight: bold;
        padding-left: 15px;

        small {
            display: block;
            margin-left: 0;
            font-weight: 300;
            color: #ddd;
        }
    }
}