ul {
    margin-bottom: 2rem;
    padding-left: 20px;
    list-style-type: square;

    ul {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

li {
    margin-bottom: 3px;
    line-height: 26px;
}