h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px $color-primary solid;
    color: $color-primary;
    font-weight: 500;
}

h1, h2 {
    margin-top: 1.5rem;
    padding-bottom: 0;
    font-weight: 800;
}

h1 {
    margin-top: 15px;
}